	<!-- Navbar -->
 <header>
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="navbar"><img src="https://p5.zdassets.com/hc/theme_assets/187734/200050403/knowledge.png" height=75px alt="diary" id="navbarImage">
        <a class="navbar-brand" id="navbarHeader">My Medical Diary</a>
      </nav>
    </header>

	<div class="container">
		<!-- Main Row -->
		<div class="row justify-content-center">
			
			<!-- Sign In Form -->
			<div class="col-md-6">
				<form class="signin">
				<h1 class="signInTitle">Welcome Back!</h1>
				
				  <div class="form-group">
				    <label for="inputEmail" class="signInLabel">Email address</label>
				    <input type="email" class="form-control placeholder" name="email" id="inputEmail" placeholder="Email">
				  </div>
				  <div class="form-group">
				    <label for="inputPassword" class="signInLabel">Password</label>
				    <input type="password" class="form-control placeholder" name="password" id="inputPassword" placeholder="Password">
				  </div>
				  
				  <div class="form-group">
				    <button type="submit" class="btn btn-secondary float-right regButton" id="logInButton">Log In</button>
					</div>
					<br>
					<br>
					<span class="memberQuestion">Don't Have an Account? <a href="/users">Sign Up</a>
				</form>
			</div>
		</div>
	</div>

<footer class="footer">
  <div class="container">
  <span class="text-muted">&copy; Nikki Jedic, Emily Polansky, Michael Russo, Jessica Ticzon</span>
  </div>
</footer>
